.product-cards-container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 15px;
}

.product-name {
    font-size: 1.2rem;
    font-family: monospace;
    margin: 10px 0;
}

.product-category {
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-family: monospace;
}

.product-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    font-family: monospace;
}

.product-stock {
    font-size: 0.9rem;
    color: #4CAF50;
    font-family: monospace;
}

.product-stock.out-of-stock {
    color: #F44336;
    font-family: monospace;
}

.btn-add-to-cart {
    padding: 10px 20px;
    background-color: rgb(25, 233, 178);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: monospace;
}

.btn-add-to-cart:hover {
    background-color: rgb(32, 203, 172);
}

.btn-add-to-cart:disabled {
    background-color: #f0f0f0;
    /* Disabled gray background */
    color: #cccccc;
    /* Disabled gray text */
    cursor: not-allowed;
    /* Indicate non-clickable state */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
    margin: 0 0 20px;
    text-align: center;
    font-family: monospace;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    /* Align buttons to the right */
    gap: 15px;
    /* Space between buttons */
    margin-top: 20px;
    /* Space from other elements */
}

.close-button,
.add-button,
.cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
}

.close-button {
    background: #ccc;
    font-family: monospace;
}

.add-button {
    background: #4CAF50;
    font-family: monospace;
    color: white;
    font-weight: bold;
}

#quantity {
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

.quantity-label {
    font-family: monospace;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}