#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    color: #000000;
    padding: 50px 20px;
    min-height: 10vh;
    font-family: monospace;
}

.hero-content {
    max-width: 600px;
}

.logo {
    margin-bottom: 20px;
    width: 150px;
    /* Ensure the logo has fixed size */
    height: 150px;
    /* Ensure the logo has fixed size */
    overflow: hidden;
    /* Prevent overflow */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure logo covers the circle */
    border-radius: 50%;
    /* Makes the logo round */
}

h2 {
    font-size: 2.5rem;
    margin: 20px 0;
}

p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #e64a19;
}